ComisionesCM/Service References/ProxyAuxiliar/SvcAuxiliarDSWin116.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/dsCore.Tipos" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/dsCore.Tipos" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:simpleType name="TTipoTransaccion">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Modificacion" />
      <xs:enumeration value="Insercion" />
      <xs:enumeration value="Borrado" />
      <xs:enumeration value="ModificacionH" />
      <xs:enumeration value="Confirmacion" />
      <xs:enumeration value="Ninguna" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="TTipoTransaccion" nillable="true" type="tns:TTipoTransaccion" />
  <xs:complexType name="ResultadoIM">
    <xs:sequence>
      <xs:element minOccurs="0" name="Identidad" type="xs:int" />
      <xs:element minOccurs="0" name="TimeStamp" nillable="true" type="xs:base64Binary" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResultadoIM" nillable="true" type="tns:ResultadoIM" />
</xs:schema>